$grey: rgb(112, 112, 112);
$lightGrey: rgb(200, 200, 200);
$darkGrey: rgb(55, 55, 55);
$accent: rgb(99, 183, 175);
$primary: rgb(242, 125, 0);
$twitterBrand: rgb(29, 161, 242);
$githubBrand: rgb(36, 41, 46);
$devtoBrand: rgb(10, 10, 10);

:root {
  --dark-text-color: #{$darkGrey};
  --text-color: #{$grey};
  --light-text-color: #{$lightGrey};
  --background-color: rgb(255, 255, 255);
  --accent: $accent;
  --primary: $primary;
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font: 100% monospace;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: $accent;
  text-decoration: none;
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 1px),
    $accent calc(50% - 1px),
    $accent 100%
  );
  background-size: 100% 200%;
  word-break: break-word;
  padding: 2px 0px 1px;
  transition: background-position 120ms ease-in-out 0s,
    padding 120ms ease-in-out 0s;
  background-position: 0px 0px;
}

a:hover {
  background-position: 0px 100%;
  color: rgb(255, 255, 255);
}

img {
  margin-bottom: -6px;
}

.content {
  padding: 5em 20px;
  text-align: center;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #{$lightGrey};
    --light-text-color: #{$grey};
    --background-color: rgb(0, 0, 0);
  }
}
