---
import BaseLayout from '../layouts/BaseLayout.astro';
('../layouts/BaseLayout.astro');
---

<BaseLayout>
  <pre>
  <h1>Look what have you done! You broke the internet!</h1>
  <p>Just kidding, nothing is broke, only the link that brought you here. Don't worry <a href="/">go home</a> and restart from there</p>
  
  </pre>
</BaseLayout>
