---
const { date } = Astro.props;
const theDate = new Date(date).toLocaleDateString();
---

<style lang="scss">
  .article-date {
    font-size: 1.2em;
  }
  .date {
    width: 1.3em;
    height: 1.3em;
    vertical-align: bottom;
    .icon {
      fill: var(--text-color);
    }
  }
</style>
<span class="article-date">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="24"
    viewBox="0 0 24 24"
    width="24"
    class="date"
  >
    <path
      class="icon"
      d="M21 3h-3V1h-2v2H8V1H6v2H3v18h18V3zm-2 16H5V8h14v11zM7 10h5v5H7v-5z"
    ></path>
  </svg>
  {theDate}
</span>
