{{header}}
<main>
  <p class="intro">Hi! This is my personal blog. Here you can find some articles about life, career, software
    development and
    something about me. First thing about me: I'm not constant in writing, but I'm interested on sharing my thoughts and
    experiences.</p>
  <p class="intro">Feel free to mail me at andreacanton [at] duck [dot] com.</p>
  <p class="intro">Here my only {{count}} articles I've published.</p>
  <section class="articles-listing">
    {{posts}}
  </section>
</main>
{{footer}}