---
import BaseLayout from './BaseLayout.astro';
import Topbar from '../components/topbar.astro';

const { title, description } = Astro.props;
---

<style lang="scss">
  footer {
    font-size: 0.6em;
    padding: 20px;
    margin: 3em 0;
    text-align: center;
    a {
      color: var(--text-color);
      background-image: linear-gradient(
        transparent 0%,
        transparent calc(50% - 1px),
        var(--text-color) calc(50% - 1px),
        var(--text-color) 100%
      );
      transition: background-position 120ms ease-in-out 0s,
        padding 120ms ease-in-out 0s;
      background-position: 0px 0px;
      &:hover {
        background-position: 0px 100%;
        color: var(--dark-text-color);
      }
    }
  }
</style>
<BaseLayout title={title} description={description}>
  <Topbar />
  <slot />
  <footer>
    <p>
      Build with Astro - Hosted by Netlify -
      <a href="https://github.com/andreacanton/andreacanton.com" target="_blank"
        >github repo</a
      >
    </p>
    <p>
      All content is under
      <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"
        >CC BY-SA 4.0</a
      >
      license
    </p>
  </footer>
</BaseLayout>
